.wrap {
  font-family: sans-serif;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.colors__text {
  width: 100%;
  margin-bottom: 40px;
}

.colors__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.colors__item {
  flex: 1 0 0;
  background-color: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.197);
}

.colors__item-color {
  height: 60px;
}

.colors__item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.color-showcase {
  width: 48.5%;
  margin-bottom: 40px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.197);
}

.color-showcase__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.color-showcase__row-item {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.color-showcase__name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  font-size: 2em;
}

.shadows {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.shadows__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
  background-color: #fff;
}

.spacing {
  width: 100%;
}

.spacing__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.spacing__title {
  width: 200px;
  margin-right: 15px;
  text-align: right;
}

.spacing__item-showcase {
  height: 10px;
  border-radius: 2px;
  background-color: var(--tn-color-charcoal-grey);
}

.border-radius {
  padding: 5px 20px;
  color: var(--tn-color-white);
  border-radius: var(--abstract-borderRadius);
  background-color: var(--tn-color-azure-semilight);
}
